{% extends 'base.html.twig' %}

{% block body %}
<div>
    <div class="container">
        <div class="row">
            <div class="col">
                {% form(form) %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
